.navbar-brand {
    font-size: 35px;
    color: white;
    padding-left: 25px;
}

.navbar {
    margin: 0;
}

.content__item {
    background-color: #343a40;
}

.row {
    margin: 0 50px;
}

.content__title {
    margin: 30px 0 45px 0;
}

.item__name {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: white;
}

.item__text {
    font-size: 18px;
    letter-spacing: 2px;
    color: white;
}
